*.pyc
venv/
.vscode/
.idea/*
.idea/
*.log
src/.mypy_cache/
.DS_STORE
/src/exports/*
/src/tests/cFiles/cppConverterTemps/*
/src/tmp/
/src/tmp_dot/
/src/tests/cFiles/simpleAlgs/frames
/src/tests/cFiles/simpleAlgs/graphs
/src/tests/cFiles/simpleAlgs/graphspandas
/src/tests/cFiles/simpleAlgs/autobpgraphs
