cycler==0.10.0
glob2==0.7
kiwisolver==1.1.0
matplotlib==3.2.1
mpmath==1.1.0
numpy==1.18.2
pyparsing==2.4.6
python-dateutil==2.8.1
six==1.12.0
sympy==1.3
pprintast==1.2.1
coverage
mypy==0.770
pycparser==2.20
pylint==2.4.4
pycodestyle==2.5.0
pydocstyle==5.0.2